.images {
    background: #fff;
    margin: 1rem;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    
}

.container {
width: 100%;
margin: auto;
}

#avatarCards {
margin-right: 15%;
margin-left: 15%;
}






