.page-footer {
        margin-top: 2.5%;
        margin-right: 10%;
        margin-left: 10%;
        padding: 2%;
        border-top: solid 1px black;
}

.container {
    width: 100%;
    margin: auto;
}
